<html>
<body bgcolor="#900C3F">
<meta charset="utf-8">

<link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">

    <style type="text/css">
      .modal-content1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    box-shadow: 0 0 5px silver;
 }

.modal-title{
color: #464646;
font-weight: bold;
font-family: 'Open Sans';
}

.modal-input{
width: 200px;
border: none;
}

.modal-input:focus{
outline: none;

}

.login-submit{
background-color: white;
border: none;
font-weight: 500;
font-size: 18px;
}

.login-submit:focus{
outline: none;
}

    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript">
// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();

</script>
<style type="text/css">
  
h1{
  font-size: 30px;
  color: #900C3F;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #900C3F; /*rgba(255,255,255,0.3)*/;
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #900C3F;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
 /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);*/
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


</style>

<body bgcolor="#900C3F">
  <!--for demo wrap-->
  <h1>REGISTERED CANDIDATES</h1>
  <div class="tbl-header">
    <table class="table table-dark table-striped" cellpadding="0" cellspacing="0" border="0">
      <thead>
        

        <tr>
         <th>Name</th>
          
          
          <th></th>
          {{!-- <th>Email</th> --}}
          {{!-- <th>mobile</th> --}}
          {{!-- <TH>Mobile</TH> --}}
          <th>Course</th>
          <th>Certification number</th>
          <th>Action</th>
          {{!-- <th>Starting Date</th> --}}
          
        </tr>
      </thead>
    </table>
  </div>
  
  <div class="tbl-cotent"  >
    <table cellpadding="0" cellspacing="0" border="0" id="student-table">
     
      <tbody id="student-table-body">
       
      </tbody>
    </table>
  </div>

<!-- follow me template -->
<div class="d-flex  flex-row justify-content-center">
   

   
   <div class="p-5">
      <button class="btn btn-warning" id="generate-certificate">Generate certificates</a>
      
   </div>
   
 </div>


 

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content1">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Update Certificate Number</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class='apex'>

                  
                    
                    <div class="modal-body" id="modal-body">
                      
                  </div>
                
                  
</div>

                  <br>
                  <div class="text-center">

                  <input type="submit" onclick="opera()" value="SAVE" class="btn btn-dark mb-3">

                  </div>
              </div>
            </div>
        </div>

    
<script type="text/javascript">


    $(document).ready(function(){
        var certificates = localStorage.getItem("certificates_details");
        var certificates = JSON.parse(certificates);
      //  console.log(certificates);

   
        var html = '';
        for(var i=0; i<certificates.length; i++){
            html = html + "<tr class='rere'><td>"+certificates[i].name+"<td/><td>"+certificates[i].course+"</td><td class='certificate-id'>"+certificates[i].id+"</td><td><a data-toggle='modal' class='edit-button' data-target='#exampleModalCenter' href=''>EDIT</a></td></tr>";

        }
        
        $('#student-table-body').html(html);


        $('.edit-button').each(function(){
            var button = $(this);
            button.on('click',function(){
                var parent_row_element = $(this).parent().parent();
                var certificate_id = parent_row_element.find('.certificate-id').text();
                
                var input = "<input id='updated-certification-id' data-prev-id='"+certificate_id+"' class='modal-input border-bottom border-dark float-right' value='"+certificate_id+"' type='number'>";
                $('#modal-body').html(input);
            
                
            })
        });

        $('#generate-certificate').on('click',async function(){
    var certificates = localStorage.getItem("certificates_details");
    var certificates = JSON.parse(certificates);
  for(var i=0; i<certificates.length; i++){


        if(certificates[i].course=='GST' || certificates[i].course=='CDCW' || certificates[i].course=='CBAP' || certificates[i].course=='CSBB' || certificates[i].course=='CSGB'){
        
         $.ajax({
          url: '/generate-certificate',
          type: 'POST',
          data: certificates[i],
          beforeSend: function(){
            console.log(i+1);
          
          },
          success: function(response){
            var current = i;
            var status = 'Generated : ' + current + ' of ' + certificates.length;
            $('#status').html(status);
            console.log(response);
          }
        });
        
        

        
      }else{
        console.log("Course type not supported!!");
      }
    }
    
})

      





    });
  $('#a2').click(function(){
  prop("disabled",true);});


  function opera(){
    
   var id = $('#updated-certification-id').val();

   var prev_id = $('#updated-certification-id').attr('data-prev-id');




   var certificates = localStorage.getItem("certificates_details");
    var certificates = JSON.parse(certificates);

    for(var i=0; i<certificates.length; i++){
        if(certificates[i].id==prev_id){
            certificates[i].id = id;
            console.log(certificates[i]);
        }
        
        

    }

    localStorage.setItem("certificates_details", JSON.stringify(certificates));

    location.reload();

  


   



  }

</script>
</body></html>